<div class="container mx-auto p-5">
  <div class="flex justify-center space-x-4 mt-5">
    <div class="flex-1 p-3">
      <img class="box-img h-4/6 mx-auto border rounded-md shadow-sm" src="https://singpet.id/media/catalog/product/cache/5c4104efd38f87733e130c561cbe6e7b/R/o/Royal-Canin-Maine-Coon-Adult-Cat-4kg-C103-02-000104.jpg">
    </div>
    <div class="flex-1 p-3">
      <h1 class="text-3xl font-bold">{{product.name}}</h1>
      <span>Sold 1K++</span>&#8226; <span>Rating</span> &#8226; <span>12 Disscussion</span>
      <h2 class="text-2xl font-bold mt-2 mb-4">Rp. {{product.price}}</h2>
      <!-- descriptionp -->
      <div class="shadow-sm mt-2">
        <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
            <li class="me-2">
                <button type="button" aria-current="page" class="inline-block p-4 text-grey-600 bg-gray-100 rounded-t-lg active">detail</button>
            </li>
        </ul>
        <div class="p-2">
          <p>Shop detail</p>
          <div [innerHTML]="product.description"></div>
        </div>
      </div>
     <!-- shiping -->
     <div class="card shadow-sm mt-2 p-2">
      <span>Shipping</span>
     </div>
     <!-- review -->
     <div class="card shadow-sm mt-2 p-2">
      <span>Review Card</span>
     </div>
     <!-- Disscussion -->
     <div class="card shadow-sm mt-2 p-2">
      <span>Disscussion Section</span>
     </div>
    </div>
    <div class="flex-1 p-3">
      <div class="w-fit p-2">
        <!-- Using utilities: -->
        <button class="bg-gray-500 w-96 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mb-3.5">
          Add to Chart
        </button>
        <button class="bg-green-500 w-96 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Buy
        </button>
      </div>
    </div>
  </div>
</div>