<div  >
   <h1 class="text-3xl mb-4">Produk</h1>'
   <div class="shadow-md rounded-md w-full h-fit p-4">
      <a href="shop/add-product" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 p-4">
         Tambah Produk
      </a>

      <div class="relative overflow-x-auto mt-4">
         <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
               <tr>
                  <th scope="col" class="px-6 py-3">
                    Nama Produk
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Harga
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Stok
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Status
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr class="bg-white border-b">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                     Apple MacBook Pro 17"
                  </th>
                  <td class="px-6 py-4">
                     Silver
                  </td>
                  <td class="px-6 py-4">
                     Laptop
                  </td>
                  <td class="px-6 py-4">
                     $2999
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

   </div>
</div>